@charset "UTF8";

body{
    background-image: linear-gradient(to right, #042940, #005C53);
    font-family: Arial, Helvetica, sans-serif;
    color: #D6D58E;
    text-align: justify;
}

h1{
    color: #DBF227;
}

h1#principal{
    text-align: center;
    text-shadow: 5px 7px 8px #48500dbd;
}

h2{
    color: #9FC131;
}

.basico{
    color: #31c13d;
}

.intermediario{
    color: #b7c131;
}

.avançado{
    font-weight: bolder;
    color: #c13131;
}